/* CSS fet el dia 1, tenint en compte mides fixes en px del wireframe
Faig prova de branch en GIT per deixar commit fins a aquesta versió */

body {
    background-color: #E6E7E9;
    margin: 0;
}

.container {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 1000px;
    height: 980px;
    /* display: flex; */
    justify-content: center;
    margin: 20px auto;
    background-color: #E6E7E9;
}
.navbar {
    font-size: 17px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%2397989a' fill-opacity='0.41'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0;
    margin-bottom: 20px;
    max-height: 120px;
    background-color:#4B4B4D;
}
.logo {
    display: flex;
    margin: 30px 30px 30px 30px; 
    height: 60px ;
    width: 200px;
    /* border: 1px solid; */
    background-color: #D2D3D5;
}
img {
    max-width: 100%;
    max-height: 100%;
} 

.three-circles {
    display: flex;
    margin-right: 20px;
}

.circle {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    border-radius: 50%;
    align-content: center;
    /* border: 1px solid; */
    background-color: #E6E7E9;
}
.fa-twitter-square{
    color: #E6E7E9;
    margin-right: 20px;
}

.fa-instagram{
    color: #E6E7E9;
    margin-right: 20px;
}
.fa-facebook{
    color: #E6E7E9;
    margin-right: 20px;
}

.five-menu-items {
    display: flex;
    flex-basis: auto;
    /* flex-wrap: wrap; */
    height: 45px;
    align-content: space-between;
    /* justify-content: center; */
    
}

.five-menu-items div {
    /* max-width: 100%; */
    width: 5000px;
    margin-right: 3px;
    list-style: none;
    /* border: 1px solid; */
    background-color: #97989A;
}

.middle-div {
    margin: 0 20px;
}
.three-news-menu {
    display: flex;
    height: 190px;
    flex-basis: auto;
    align-content: space-between;
    /* justify-content: center; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.three-news-menu div {
    list-style: none;
    width: 5000px;
    /* border: 1px solid; */
    background-color: #858688;
}

.main-section {
    background-color: aquamarine;
    height: 450px;
    margin-bottom: 20px;
    background-color: #858688;

}

.main-article {
    display: flex;
    border: 1px solid;
    width: 600px;
    height: 448px;
    margin: auto;
    background-color: #4B4B4D;
    /* align-content: space-betwen; */

}
footer {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 70px;
    background-color: #4B4B4D;
}
